.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img{
    margin-top: 150px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(270deg, #e31c2d 10%, #a2c25d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #8415ff 106.28%);
    cursor: pointer;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #fff;
}

.hero-connect:hover{
    border: 2px solid #fff;
}
.hero-resume:hover{
    border-color: #8415ff;
}