.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}

.contact-title{
    position: relative;   
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section{
    display: flex;
    gap: 150px;

}

.contact-left{
    font-size: 80px;
    flex-direction: column;
    gap: 30px;  
}

.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg , #df8908 80% #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

